<!-- User Index -->
<h1>Users</h1>

<!-- Displays all users -->
<ul>
	<% @users.each do |user| %>
		<li>
			<%= link_to user.name, user %> <br>

			<%user.list_watchlist.each do |watchlist|%>
				<p>-<%= watchlist %></p>
			<% end %>
			<br>
		</li>
	<% end %>
</ul>